/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
  border: 1px solid #ccc;
  color: #555;
  background-color: #fff;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  z-index: 1;
  margin: none;
  padding: 0px;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
